/* Main wrappers "positions page" */
#wrapper960{
	background-color: #888888;
	margin: 85px auto;
	width: 100%;
}

/* BODY 
{ 
     padding-right: 0px;
     padding-left: 60px; 
     
} */
table, th, td {
    text-align: center;
}

h1 {
    text-align:center;
    background-color:#C8C8C8;
    font-size: 40px;
    font-family: "Comic Sans MS", sans-serif;
}

h2.first {
    text-align:center;
    background-color:#C8C8C8;
    font-size: 30px;
    font-family: "Comic Sans MS", sans-serif;
}

h2.second {
    text-align:right;
    background-color:#C8C8C8;
    font-size: 30px;
    font-family: "Comic Sans MS", sans-serif;
}

h3 {
    font-family: "Comic Sans MS", sans-serif;
}
h4 {
    font-family: "Comic Sans MS", sans-serif;
}


td {
    font-size: 15px;
    font-family: "Comic Sans MS", sans-serif;
}

p {
    font-family: "Comic Sans MS", sans-serif;
}

li {
    font-family: "Comic Sans MS", sans-serif;
}


body { background-color:#888888; position:relative; }
.mask { float:left; margin:40px; width:400px; height:266px; overflow:hidden;  }
ul.imgHolder { position:relative; top:0px;left:0px; }
  ul.imgHolder li { position:absolute; top:0px;left:0px; }

ul.thumbHolder { position:absolute; top:310px; left:100px; }
    ul.thumbHolder li { 
        float:left; margin:0 5px; font: bold 16px arial; cursor:pointer;
        background-color:#ccc; color:#000; padding:10px;
    }ul.thumbHolder li.selected {background-color:#fff; color:#000;}


.control {position:absolute; top: 400px; color:#fff;}
.Bleft { left:150px; }
.Bright { left:200px; }




/*Comment box*/
div.hcb-shadow-tl{background:url(../images/shadow-bg.png) top left}
div.hcb-shadow-tr{background:url(../images/shadow-bg.png) top right}
div.hcb-shadow-bl{background:url(../images/shadow-bg.png) bottom left}
div.hcb-shadow-br{background:url(../images/shadow-bg.png) bottom right}
div.hcb-shadow-t{background:url(../images/shadow-bg-t.png) repeat-x}
div.hcb-shadow-b{margin-bottom:5px;background:url(../images/shadow-bg-t.png) repeat-x bottom}
div.hcb-shadow-m{clear:both;background:url(../images/shadow-bg-r.png) repeat-y right;padding-right:7px}
.hcb-shadow-r{display:block;background:url(../images/shadow-bg-l.png) repeat-y left}
div.hcb-shadow-t,div.hcb-shadow-tr,div.hcb-shadow-b,div.hcb-shadow-br,div.hcb-shadow-tl,div.hcb-shadow-bl{background-color:white;height:7px}
div.hcb-shadow-tr,div.hcb-shadow-br,div.hcb-shadow-tl,div.hcb-shadow-bl{width:7px}
div.hcb-shadow-tr,div.hcb-shadow-br{float:right}
div.hcb-shadow-tl,div.hcb-shadow-bl{float:left}
br.hcb-shadow-clear{clear:both;display:block}
#HCB_comment_box *{margin:0;padding:0;border-width:0;outline:0}
#HCB_comment_box textarea.commentbox{width:100%;display:block;border:0}
#HCB_comment_box textarea,#HCB_comment_box input.text,#HCB_comment_box input.submit{background-color:#ffffff;border:0 none transparent;padding-left:5px}
#HCB_comment_box .hcb-wrapper-half{width:20%; float:left}
#HCB_comment_box .hcb-wrapper{clear:left}
#HCB_comment_box input.text{width:100%}
#HCB_comment_box input.submit{width:84px;font-weight:700;cursor:pointer;background:url(../images/submit.png) no-repeat;color:transparent;height:25px}
#HCB_comment_box span.home-desc{font-size:10px;opacity:.4}
#HCB_comment_box blockquote{margin:0!important;padding:20px;background:url(../images/speech-bubble.png) no-repeat}
#HCB_comment_box div.comment{margin-bottom:5px;border-bottom:1px solid #eee}
#HCB_comment_box #hcb_form_name{name_label:'name'}
