/* Main wrappers "positions page" */
body { 
     background-color:#888888; 
     /* position:relative; */ 
     padding-right: 60px;
     padding-left: 60px;
     }
     
table, th, td {
    text-align: center;
}

h1 {
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h2 {
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h3 {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
h4 {
    font-family: "Comic Sans MS", cursive, sans-serif;
}


td {
    font-size: 15px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

p {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

li {
    font-family: "Comic Sans MS", cursive, sans-serif;
}


