/* Main wrappers "positions page" */
#wrapper960{
	background-color: #CDD7FF;
	margin: 35px auto;
	width: 100%;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

td {
    font-size: 18px;
}

body { background-color:#FFEBCD; position:relative; }
.mask { float:left; margin:40px; width:400px; height:266px; overflow:hidden;  }
ul.imgHolder { position:relative; top:0px;left:0px; }
  ul.imgHolder li { position:absolute; top:0px;left:0px; }

ul.thumbHolder { position:absolute; top:310px; left:100px; }
    ul.thumbHolder li { 
        float:left; margin:0 5px; font: bold 16px arial; cursor:pointer;
        background-color:#ccc; color:#000; padding:10px;
    }ul.thumbHolder li.selected {background-color:#fff; color:#000;}


.control {position:absolute; top: 400px; color:#fff;}
.Bleft { left:150px; }
.Bright { left:200px; }
